In [1]:
import pandas as pd
import numpy as np

In [6]:
airbn = pd.read_csv('paris_airbnb.csv')

In [7]:
airbn # show ficher

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,100%,NaN,2.0,48.87901,2.29526,Paris,75017,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$55.00,$45.00,$400.00,150,1125,0
7996,NaN,NaN,1.0,48.88903,2.35271,Paris,75018,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$60.00,$20.00,$100.00,3,1125,4
7997,100%,NaN,1.0,48.85313,2.34146,Paris,75006,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$60.00,$30.00,$0.00,2,10,25
7998,NaN,NaN,1.0,48.88066,2.33639,Paris,75009,Île-de-France,2,Entire home/apt,NaN,1.0,1.0,$58.00,NaN,$200.00,3,9,57
7999,100%,NaN,2.0,48.85760,2.39946,Paris,75020,Île-de-France,6,Entire home/apt,1.0,1.0,3.0,$40.00,$35.00,$300.00,4,1125,49

In [8]:
airbn[0:10] #show some rows

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0
5,100%,NaN,1.0,48.86227,2.37134,Paris,75011,Ile-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$20.00,$250.00,5,120,17
6,NaN,NaN,4.0,48.88902,2.34656,Paris,75018,Ile-de-France,4,Entire home/apt,NaN,1.0,1.0,$80.00,$36.00,$800.00,90,730,42
7,NaN,NaN,4.0,48.88918,2.34490,Paris,75018,Ile-de-France,3,Entire home/apt,NaN,1.0,1.0,$75.00,NaN,$400.00,30,730,16
8,100%,NaN,1.0,48.87900,2.31608,Paris,75008,Ile-de-France,4,Entire home/apt,1.0,1.0,2.0,$90.00,$60.00,$600.00,3,730,40
9,100%,NaN,2.0,48.84670,2.35095,Paris,75005,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$75.00,NaN,NaN,2,1125,336

In [9]:
airbn.iloc[0:10] #same thing

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0
5,100%,NaN,1.0,48.86227,2.37134,Paris,75011,Ile-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$20.00,$250.00,5,120,17
6,NaN,NaN,4.0,48.88902,2.34656,Paris,75018,Ile-de-France,4,Entire home/apt,NaN,1.0,1.0,$80.00,$36.00,$800.00,90,730,42
7,NaN,NaN,4.0,48.88918,2.34490,Paris,75018,Ile-de-France,3,Entire home/apt,NaN,1.0,1.0,$75.00,NaN,$400.00,30,730,16
8,100%,NaN,1.0,48.87900,2.31608,Paris,75008,Ile-de-France,4,Entire home/apt,1.0,1.0,2.0,$90.00,$60.00,$600.00,3,730,40
9,100%,NaN,2.0,48.84670,2.35095,Paris,75005,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$75.00,NaN,NaN,2,1125,336

In [10]:
airbn.head()#affiche les 5 pr lignes

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0

In [11]:
airbn.tail()#affiche les 5 der lines

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
7995,100%,NaN,2.0,48.87901,2.29526,Paris,75017,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$55.00,$45.00,$400.00,150,1125,0
7996,NaN,NaN,1.0,48.88903,2.35271,Paris,75018,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$60.00,$20.00,$100.00,3,1125,4
7997,100%,NaN,1.0,48.85313,2.34146,Paris,75006,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$60.00,$30.00,$0.00,2,10,25
7998,NaN,NaN,1.0,48.88066,2.33639,Paris,75009,Île-de-France,2,Entire home/apt,NaN,1.0,1.0,$58.00,NaN,$200.00,3,9,57
7999,100%,NaN,2.0,48.85760,2.39946,Paris,75020,Île-de-France,6,Entire home/apt,1.0,1.0,3.0,$40.00,$35.00,$300.00,4,1125,49

In [12]:
airbn.info()#affiche des infos sur le fichier

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   host_response_rate    5000 non-null   object
 1   host_acceptance_rate  0 non-null      float64
 2   host_listings_count   7999 non-null   float64
 3   latitude              8000 non-null   float64
 4   longitude             8000 non-null   float64
 5   city                  7997 non-null   object
 6   zipcode               7930 non-null   object
 7   state                 7977 non-null   object
 8   accommodates          8000 non-null   int64
 9   room_type             8000 non-null   object
 10  bedrooms              7976 non-null   float64
 11  bathrooms             7942 non-null   float64
 12  beds                  7986 non-null   float64
 13  price                 8000 non-null   object
 14  cleaning_fee          6250 non-null   object
 15  security_deposit      6320 non-null   object
 16  minimum_nights        8000 non-null   int64
 17  maximum_nights        8000 non-null   int64
 18  number_of_reviews     8000 non-null   int64
dtypes: float64(7), int64(4), object(8)
memory usage: 1.2+ MB

In [13]:
airbn['beds']#affiche un colone spécifié

0       0.0
1       1.0
2       2.0
3       1.0
4       1.0
       ...
7995    1.0
7996    2.0
7997    1.0
7998    1.0
7999    3.0
Name: beds, Length: 8000, dtype: float64

In [14]:
type(airbn['beds'])#c1 objet series

pandas.core.series.Series

In [17]:
airbn[['beds', 'bedrooms']]#afficher deux colones

      beds  bedrooms
0      0.0       0.0
1      1.0       0.0
2      2.0       2.0
3      1.0       1.0
4      1.0       1.0
...    ...       ...
7995   1.0       0.0
7996   2.0       1.0
7997   1.0       1.0
7998   1.0       NaN
7999   3.0       1.0

[8000 rows x 2 columns]

In [18]:
type(airbn[['beds', 'bedrooms']]) #cest un dataframe

pandas.core.frame.DataFrame

In [19]:
airbn[['beds', 'bedrooms']].mean()# calcule la moyen des deux colones

beds        1.753068
bedrooms    1.248370
dtype: float64

In [20]:
np.mean(airbn['beds'])#affiche la moyen d'un seul series
#pandas s'applique sur dataframe, alors que numpy s'applique sur series

1.753067868770348

In [23]:
airbn.select_dtypes(include=['float']).columns.to_list()#creer une liste des nom des colones

['host_acceptance_rate',
 'host_listings_count',
 'latitude',
 'longitude',
 'bedrooms',
 'bathrooms',
 'beds']

In [24]:
colone_list=airbn.select_dtypes(include=['float']).columns.to_list()

In [28]:
for col in colone_list:
    mean = np.mean(airbn[col])
    print(mean)#retourner la moyenne de chause colone

nan
7.025878234779348
48.864560402500004
2.3487392574999997
1.248370110330993
1.12849408209519
1.753067868770348

In [29]:
def add_hunder(x):
    return x+100
airbn[airbn_cols].apply(add_hunder)

NameError: name 'airbn_cols' is not defined