In [5]:
import pandas as pd
import numpy as np

In [5]:
paris_listings = pd.read_csv('paris_airbnb.csv')

In [6]:
print(paris_listings.iloc[0])#afficher les valeurs de premier clolone de fichier paris lisitng

host_response_rate                 100%
host_acceptance_rate                NaN
host_listings_count                   1
latitude                        48.8335
longitude                       2.31852
city                              Paris
zipcode                           75014
state                     Île-de-France
accommodates                          2
room_type               Entire home/apt
bedrooms                              0
bathrooms                             1
beds                                  0
price                            $75.00
cleaning_fee                     $50.00
security_deposit                  $0.00
minimum_nights                        3
maximum_nights                       15
number_of_reviews                     8
Name: 0, dtype: object

In [7]:
our_acc = 3
first_living = paris_listings.iloc[0]['accommodates']
print(our_acc-first_living)#distance entre deux logments : le notre et celle de premire ligne

1

In [8]:
our_acc = 3
paris_listings['distance'] = paris_listings['accommodates'].apply(lambda x: np.abs(x-3))
print(paris_listings['distance'].value_counts())#distance entre notre logment et celle de tous les logmements

1     5665
0      878
2      726
3      508
4       88
5       82
6       18
7       14
9        8
11       4
8        4
13       3
10       2
Name: distance, dtype: int64

In [12]:
paris_listings[paris_listings['distance'] == 0] ['accommodates']#lister les listings qui ont la meme valeur que notre logment
#on va prend les k premiers logemnt pour estimer notre prix

3       3
7       3
13      3
14      3
18      3
       ..
7907    3
7938    3
7948    3
7958    3
7989    3
Name: accommodates, Length: 878, dtype: int64

In [13]:
np.random.seed(1)
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]#randomiser les valuers de fichier
paris_listings = paris_listings.sort_values('distance')#trier de nouveau
paris_listings.iloc[0:10] ['price']

1956     $80.00
3735     $67.00
6944     $36.00
2094    $120.00
2968     $60.00
845     $200.00
6083     $95.00
5970     $95.00
2992     $76.00
3179    $100.00
Name: price, dtype: object

In [14]:
sans_comas = paris_listings['price'].str.replace(',', '')
sans_dollars = sans_comas.str.replace('$', '')
paris_listings['price'] = sans_dollars.astype('float')
mearn_price = paris_listings.iloc[0:5]['price'].mean()
print(mearn_price)

72.6

In [18]:
#creer une fonction qui fait le tout nommée pedict_price
import pandas as pd
import numpy as np
np.random.seed(1)

paris_listings = pd.read_csv('paris_airbnb.csv')#lire le fichier et stocker le dans une variable 
sans_points = paris_listings['price'].str.replace(',', '')#le netoyer des points
sans_dolars = sans_points.str.replace('$', '')#le nettoyer des signs dollars
paris_listings['price'] = sans_dolars.astype('float')#remplacer la la colone price avec les nouvelles valeurs cleanés
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]#les randomiser
def predict_price(new_listing):
    temp_df = paris_listings.copy()
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.abs(x-new_listing))#ajouter un nouveau colone au tab 
    #qui va contenir la distance entre notre log et les 5 premirs log situés en haut apres la randominisation
    temp_df = temp_df.sort_values('distance')#trier les valeurs de la colone distance
    les_plus_voisins = temp_df.iloc[0:5]['price']#extriare les 5 plus proches voisins
    predicted_price = les_plus_voisins.mean()#calculer la moyenne deces 5 valuers
    return(predicted_price) 

ac = predict_price(1)
print(ac)

69.6

In [23]:
#évaluation de performance de model
import pandas as pd
import numpy as np
np.random.seed(1)
pd.options.mode.chained_assignment = None

paris_listings = pd.read_csv('paris_airbnb.csv')#lire le fichier et stocker le dans un variable 
sans_points = paris_listings['price'].str.replace(',', '')#le netoyer des points
sans_dolars = sans_points.str.replace('$', '')#le nettoyer des signs dollars
paris_listings['price'] = sans_dolars.astype('float')#remplacer la la colone price avec les nouvelles valeurs cleanés
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]#les randomiser
train_set = paris_listings.iloc[0:6000]
test_set = paris_listings.iloc[6000:]
def predict_price(new_listing):
    temp_df = train_set.copy()#remplacer le dataset entier par train_set
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.abs(x-new_listing))#ajouter un nouveau colone au tab 
    #qui va contenir la distance entre notre log et les 5 premirs log situés en haut apres la randominisation
    temp_df = temp_df.sort_values('distance')#trier les valeurs de la colone distance
    les_plus_voisins = temp_df.iloc[0:5]['price']#extriare les 5 plus proches voisins
    predicted_price = les_plus_voisins.mean()#calculer la moyenne deces 5 valuers
    return(predicted_price) 

ac = predict_price(1)
print(ac)

test_set['predicted_price'] = test_set['accommodates'].apply(lambda x: predict_price(x))#ajouter une colone predicted price au test set
#construite par la foction predict_price qui a été elaboré avec le train_set

34.4

In [24]:
test_set.head()#afficher le head de test_set qui contient le resultat de predition des prix avec les valeurs réelles

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,predicted_price
4465,96%,NaN,28.0,48.89318,2.31884,Paris,75017,Paris province,2,Entire home/apt,0.0,1.0,1.0,63.0,$100.00,$400.00,14,180,61,90.4
3154,100%,NaN,2.0,48.85114,2.29728,Paris,75015,Île-de-France,5,Entire home/apt,1.0,1.0,4.0,120.0,$50.00,$200.00,1,120,102,176.8
1969,65%,NaN,93.0,48.85134,2.33359,Paris,75006,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,149.0,$60.00,$600.00,30,1125,5,96.2
2713,NaN,NaN,1.0,48.87320,2.38649,Paris,75020,Île-de-France,4,Entire home/apt,2.0,1.0,1.0,79.0,$65.00,$299.00,2,1125,5,173.0
5578,100%,NaN,1.0,48.85691,2.36013,Paris,75004,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,51.0,$25.00,$150.00,4,15,17,90.4

In [28]:
test_set['error'] = np.abs(test_set['predicted_price'] - test_set['price'])
mae = test_set['error'].mean()
print(mae)

52.562200000000004

In [29]:
test_set['error'] = np.abs(test_set['predicted_price'] - test_set['price'])
test_set['error_au_carre'] = test_set['error'] * test_set['error']
mse = test_set['error_au_carre'].mean()
print(mse)

6724.726040000001

In [30]:
#creer un nv model cette fois ci avec la colonne bedrooms pour le comparer avec le premier model
import pandas as pd
import numpy as np
np.random.seed(1)
pd.options.mode.chained_assignment = None

paris_listings = pd.read_csv('paris_airbnb.csv')#lire le fichier et stocker le dans un variable 
sans_points = paris_listings['price'].str.replace(',', '')#le netoyer des points
sans_dolars = sans_points.str.replace('$', '')#le nettoyer des signs dollars
paris_listings['price'] = sans_dolars.astype('float')#remplacer la la colone price avec les nouvelles valeurs cleanés
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]#les randomiser
train_set = paris_listings.iloc[0:6000]
test_set = paris_listings.iloc[6000:]
def predict_price(new_listing):
    temp_df = train_set.copy()#remplacer le dataset entier par train_set
    temp_df['distance'] = temp_df['bedrooms'].apply(lambda x: np.abs(x-new_listing))#ajouter un nouveau colone au tab 
    #qui va contenir la distance entre notre log et les 5 premirs log situés en haut apres la randominisation
    temp_df = temp_df.sort_values('distance')#trier les valeurs de la colone distance
    les_plus_voisins = temp_df.iloc[0:5]['price']#extriare les 5 plus proches voisins
    predicted_price = les_plus_voisins.mean()#calculer la moyenne deces 5 valuers
    return(predicted_price) 

ac = predict_price(1)
print(ac)

test_set['predicted_price'] = test_set['bedrooms'].apply(lambda x: predict_price(x))#ajouter une colone predicted price au test set
#construite par la foction predict_price qui a été elaboré avec le train_set 
test_set.head()#afficher le head de test_set qui contient le resultat de predition des prix avec les valeurs réelles

68.4

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,predicted_price
4465,96%,NaN,28.0,48.89318,2.31884,Paris,75017,Paris province,2,Entire home/apt,0.0,1.0,1.0,63.0,$100.00,$400.00,14,180,61,77.4
3154,100%,NaN,2.0,48.85114,2.29728,Paris,75015,Île-de-France,5,Entire home/apt,1.0,1.0,4.0,120.0,$50.00,$200.00,1,120,102,68.4
1969,65%,NaN,93.0,48.85134,2.33359,Paris,75006,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,149.0,$60.00,$600.00,30,1125,5,68.4
2713,NaN,NaN,1.0,48.87320,2.38649,Paris,75020,Île-de-France,4,Entire home/apt,2.0,1.0,1.0,79.0,$65.00,$299.00,2,1125,5,121.8
5578,100%,NaN,1.0,48.85691,2.36013,Paris,75004,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,51.0,$25.00,$150.00,4,15,17,68.4

In [32]:
#nouvelle ecart quadratique moyenne de nv model
test_set['error'] = np.abs(test_set['predicted_price'] - test_set['price'])
test_set['error_au_carre'] = test_set['error'] * test_set['error']
mse = test_set['error_au_carre'].mean()
print(mse)

6281.181979999999

In [36]:
#problématique : la mse est un outil de comparaison relative entre deux models mais ca ne renseigne pas sur la qualité de model 
# dune facon générale, pour cela o, calcule la RMSE qui la racine carre de la mse
from math import *
rmse = sqrt(mse)
print(rmse)

79.25390829479642

In [37]:
#on va calculer les differents erreurs pour deux series d'erreurs de deux modelser
error_one = pd.Series([5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10])#ensemble des erreurs absolues entre reel et predict
error_two = pd.Series([5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 1000])
mae_1 = error_one.sum()/len(error_one)
rmse_1 = np.sqrt((error_one**2).sum()/len(error_one))

mae_2 = error_two.sum()/len(error_two)
rmse_2 = np.sqrt((error_two**2).sum()/len(error_two))

print(mae_1)
print(rmse_1)

print(mae_2)
print(rmse_2)

7.5
7.905694150420948
62.5
235.82302686548658